Source: camlzip
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders:
 Ralf Treinen <treinen@debian.org>,
 Stéphane Glondu <glondu@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 zlib1g-dev (>> 1.1.4),
 ocaml-nox (>= 4.07),
 ocaml-findlib,
 dh-ocaml
Homepage: https://github.com/xavierleroy/camlzip/
Standards-Version: 4.6.0
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/ocaml-team/camlzip.git
Vcs-Browser: https://salsa.debian.org/ocaml-team/camlzip

Package: libzip-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Breaks: libzip-ocaml-dev (<< 1.04-4)
Replaces: libzip-ocaml-dev (<< 1.04-4)
Description: OCaml compression libraries (runtime libraries)
 This Objective Caml library provides easy access to compressed files in ZIP
 and GZIP format, as well as to Java JAR files.  It provides functions
 for reading from and writing to compressed files in these formats.
 .
 This package contains only the shared runtime stub libraries.

Package: libzip-ocaml-dev
Architecture: any
Depends:
 zlib1g-dev (>> 1.1.4),
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml compression libraries (development files)
 This Objective Caml library provides easy access to compressed files in ZIP
 and GZIP format, as well as to Java JAR files.  It provides functions
 for reading from and writing to compressed files in these formats.
 .
 This package contains the development part of the camlzip package.
